/* PAGE PROJETS */

.about-page {
  padding: 200px 0px 20px 0px;
  background: #ffffff;
}

/* TITLE */
.container-title {
    width: 50%;
    margin: auto;
    text-align: center;
}

/* STATS responsive - mobile */
@media (max-width: 768px) {
  .container-title {
    width: 90%;
  }

  .about-page {
    padding: 40px 0px 20px 0px;
  }

}

/* STATS */

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 90px; /* centre horizontalement */
  margin-bottom: 60px;
  width: 60%;        /* largeur de la grille en % */
}

.stat {
  background: #F7F7F7;
  padding: 30px;
  border: 0.5px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.stat h2 {
  font-size: 40px;
}

/* STATS responsive - mobile */
@media (max-width: 768px) {
  .stats {
    display: grid;
    grid-template-columns: 1fr; /* une seule colonne */
    gap: 20px;                  /* réduire l’espace entre les stats */
    width: 60%;                 /* prend presque toute la largeur */
    margin: 60px auto;          /* centrer verticalement et horizontalement */
  }

  .stat {
    padding: 20px;              /* padding réduit pour mobile */
  }

}

/* PROFILE */

.profile{
    width: 70%;
}

.profile-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:110px;
    margin: 60px auto;
}

.profile_annee{
    font-size: 12px;
    font-family: "creatodisplay";
    font-weight: normal;
    color: orangered;
}

.profile_milieu{
    font-size: 20px;
    font-family: "creatodisplay";
    font-weight: 600;
    margin: 8px 0px;
}

.profile_lieu{
    font-size: 16px;
    font-family: "creatodisplay";
    font-weight: 100;
}

.profile_text {
    margin-top: 10px;
}

ul {
  margin-left: 30px;
}

.cv {
    margin: 20px 0px;
}

.card{
    background:#F7F7F7;
    padding:25px;
    border-radius:10px;
    margin-bottom:10px;
    border: solid 0.5px #ddd;
    transition: 0.2s;
}

.card:hover {
    background: #ffffff;
}

/* PROFILE responsive - mobile */
@media (max-width: 768px) {
  .profile {
    width: 90%; /* prend presque toute la largeur de l’écran */
    margin: 0 auto;
    padding: 40px 0; /* padding vertical pour espacer la section */
  }

  .profile-grid {
    display: grid;
    grid-template-columns: 1fr; /* une seule colonne */
    gap: 30px; /* espace entre les colonnes qui sont maintenant empilées */
    margin: 0 auto;
  }

  /* Garder le texte aligné à gauche */
  .profile-info {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px; /* espace entre les cards et blocs */
  }



  .profile_text {
    margin-top: 10px;
  }

  .card {
    padding: 20px;
  }

  .cv {
    margin: 15px 0;
  }
}


.skills{
  background: #F7F7F7;
  padding:60px 200px;
  margin: auto;

}

.skills-tabs{
    display:flex;
    justify-content:left;
    gap:15px;
    margin-top:20px;
    margin-bottom: 30px;
}

.tab{
    font-family: "creatodisplay";
    font-size: 14px;
    padding:10px 18px;
    border-radius:25px;
    border:1px solid #ddd;
    background:#f7f7f7;
    cursor:pointer;
}

.tab:hover{
    font-family: "creatodisplay";
    font-size: 14px;
    padding:10px 18px;
    border-radius:25px;
    border:0.5px solid #ddd;
    background:#fff;
    cursor:pointer;
}

.tab.active{
    font-family: "creatodisplay";
    font-size: 14px;
    background: linear-gradient(to right, #ff7957, #f3471e);
    color:white;
    border:0px solid #ddd;
}

.skills-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    width: 100%;
    margin: auto;
}

.skills-card{
    background:#fff;
    border:0.5px solid #ddd;
    padding:30px;
    border-radius:20px;
}

.skills-card h3 {
  font-size: 25px;
  margin:10px 0;
}

.card-content{
    display:none;
}

.card-content.active{
    display:block;
}

.card-content-icone {
  width: 9%;
  padding-bottom: 15px;
}

.competence {
  color: #F3471E;
  font-weight: 600;
  font-size: 14px;
  padding-top: 20px;
}

.skills-items{
    display:none;
    flex-direction:column;
    gap:15px;
    
}

.skills-items.active{
    display:flex;
    
}

.skill{
  display: flex;
  align-items: center;
  background:#ececec;
  padding:15px;
  border-radius:12px;
  gap: 15px;

}

.skill img{
  width: 30px;
  height: 30px;
  
}






/* SECTION */

.qualites{
  background: #F7F7F7;
  padding:60px 200px;
  margin: auto;
  margin-bottom: 60px;
}


/* GRID */

.qualites-grid{
  margin-top: 40px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}


/* CARD */

.qualite-card{
  background:#ffffff;
  border:0.5px solid #ddd;
  border-radius:16px;
  padding:30px;
  transition:0.3s;
}


/* ICON */

.qualite-icon{
  font-size:22px;
  color:#F3471E;
  margin-bottom:15px;
}


/* TEXT */

.qualite-card h3{
  font-size: 25px;
  margin:10px 0;
}

.qualite-card p{
  color:#000000;
  font-size:15px;
}

@media (max-width:768px){

.qualites{
  width:90%;
}

.qualites-grid{
  grid-template-columns:1fr;
}

}