/* HERO */

.hero{
    height:700px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    background:linear-gradient(120deg,#dfdfdf,#ffffff,#ffbeaa);
}

.hero h1{
    font-size:100px;
}

.hero p{
    margin:20px 0;
}

.hero_logo {
    width: 20%;
}

/* BANNER */

.banner {
    width: 100%;
    overflow: hidden; /* cache le texte qui sort */
    background: #171717; /* couleur de fond */
    color: white;
    padding: 10px 0;
    font-size: 15px;
    white-space: nowrap;
    position: relative;
}

.banner-track {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
}

.banner-track span {
    margin-right: 0px; /* espace entre répétitions */
}

.banner-track p{
    text-transform:uppercase;
    letter-spacing:2px;
}

/* Animation */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-30%);
        -webkit-transform: translateX(-30%);
        -moz-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
        -o-transform: translateX(-30%);
}
}

.banner-track:hover {
    animation-play-state: paused;
}

/* ABOUT */

.about{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    padding:80px 0;
    text-align: center;
}



/* PROJECTS */

.projects{
    background:#f2f2f2;
    padding:80px 0;
}

.projects-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.project-card{
    background:white;
    border-radius:10px;
    overflow:hidden;
}

.project-card img{
    width:100%;
}

.project-content{
    padding:20px;
}

.projects-button{
    text-align:center;
    margin-top:40px;
}


/* PROFILE */

.profile{
    padding:80px 0;
}

.profile-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.profile-photo{
    width:100%;
    height:250px;
    background:#ddd;
    margin-top:20px;
}

.card{
    background:#eee;
    padding:20px;
    border-radius:10px;
    margin-bottom:10px;
}


/* TOOLS */

.tools{
    text-align:center;
    padding:80px 0;
}

.tools-icons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.tool{
    width:80px;
    height:80px;
    background:#ddd;
    border-radius:50%;
}