/* PAGE PROJETS */

.projects-page{

padding:120px 0;

background:#f5f5f5;

}


/* TITLE */

.title{

text-align:center;
font-size:50px;
margin-bottom:10px;

}

.title-bar{

width:60px;
height:6px;
background:#ff6b4a;
margin:15px auto 40px;
border-radius:10px;

}


/* FILTERS */

.filters{

display:flex;
justify-content:center;
gap:15px;
margin-bottom:60px;

}

.filters button{

padding:8px 18px;
border-radius:20px;
border:none;
background:#eee;
cursor:pointer;

}

.filters .active{

background:black;
color:white;

}


/* GRID */

.projects-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;

}


/* FOOTER SOCIAL */

.social{

display:block;
background:#eee;
padding:10px;
margin:10px 0;
border-radius:8px;
text-decoration:none;
color:black;

}